@import './_variables'
@import './_mixins'

*
  box-sizing: border-box
  outline: none

html,
body
  height: 100%
  overflow-x: hidden

body 
  position: relative
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: $main-text-color
  padding:60px
  background-color: $main-background-color
  font-size: $main-text-size

#header 
  padding-bottom: 20px
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  border-bottom: 1px solid #CDCBC5


.textDescriptionMedium
  font-family: $bodyFont_Medium

.textDescriptionBold
  font-family: $bodyFont_Bold

.logoText
  font-family: $headerFont
  font-size: 40px

code 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace