@import './_variables'
@import './_mixins'
@import '../../node_modules/bootstrap/scss/functions'
@import '../../node_modules/bootstrap/scss/variables'
@import '../../node_modules/bootstrap/scss/mixins'

*
  box-sizing: border-box
  outline: none

$xsWidth: #ffffff

html,
body
  height: 100%
  overflow-x: hidden

body 
  position: relative
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: $main-text-color
  padding:50px
  padding-bottom: 0px
  padding-top: 40px
  background-color: $main-background-color
  font-size: $main-text-size

#header 
  padding-bottom: 20px
  width: 100%
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  border-bottom: 1px solid #CDCBC5


.textDescriptionMedium
  font-family: $bodyFont_Medium

.textDescriptionBold
  font-family: $bodyFont_Bold

.wideFont
  font-family: $headerFont
 
.sectionTitle
  @include font-size(2.3rem)

.sectionMainTitle
  @include font-size(4rem)



.projectTypeText
    font-size: 26px
@media (max-width: 460.98px)
  body
    padding: 20px

  .buttonText
    @include font-size(0.5rem)

  .projectTypeText
    font-size: 15px

  .projectNameText
    font-size: 20px
  
  .businessActivityText 
    @include font-size(2rem)
  .weDevelopAppsForText
    @include font-size(1.4rem)


@media (min-width: 576px) and (max-width: 767.98px)  //sm
  /* CSS styles here */


@media (min-width: 768px) and (max-width: 991.98px)  //md


@media (min-width: 992px) and (max-width: 1199.98px)  //lg


@media (min-width: 1200px)  //xl


@media (min-width: 1400px)  //xxl
  /* CSS styles here */






.bold
  font-weight: 900

.column
  flex-direction: column
  display: flex

.businessActivityText

  
.lightColorDescription
  font-family: $bodyFont_Bold
  color: #555b60

.caps
  text-transform: uppercase


code 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace